.board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: min(80vw, 80vh);
    height: min(80vw, 80vh);

    /* box-shadow: h-offset v-offset blur-radius spread-radius color; */
    box-shadow: -10px 10px 10px 5px rgba(0,0,0,0.5);
    border: 2px solid #36322e;
}