.square{
    height: 90px;
    width: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.selected{
    background-color: #F7F769;
}
.black_square{
    background-color: #769656;
}
.white_square{
    background-color: #EEEED2;
}