.square{
    height: 90px;
    width: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.black_square{
    background-color: #769656;
}
.white_square{
    background-color: #EEEED2;
}
.selected{
    background-color: #F7F769;
}

.valid_move{
    /* Create a semi-transparent circle/dot overlay */
    background-image: radial-gradient(circle, rgba(0,0,0,0.2) 20%, transparent 25%);
}

.capture_hint{
    background-image: radial-gradient(circle, transparent 50%, rgba(200, 0, 0, 0.4) 55%);
}