*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    background-image: url("../src/assets/background.jpg");
    background-color: black;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}